<style>
  .navbar {
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler:hover {
    background-color: rgb(220, 220, 220);
  }
</style>
<div
  style="
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
  "
>
  <nav
    class="navbar navbar-expand-lg px-4"
    style="width: 100vw; height: auto; background-color: white"
  >
    <div
      class="container-fluid my-2"
      style="display: flex; align-items: center"
    >
      <div style="display: flex; align-items: center; gap: 10px">
        <img
          style="height: 2.5rem"
          src="/public/admin/icon/logo black.png"
          alt=""
        />
        <a class="navbar-brand" href="/">Furniture Kart</a>
      </div>
      <button
        class="navbar-toggler bg-color-danger"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span style="width: 1rem; height: 1rem"
          ><i class="fa-solid fa-bars"></i
        ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <% if(userData){%>
            <a
              class="nav-link"
              href="/cart?userId=<%=userData._id %>"
              style="display: flex; gap: 5px; align-items: center"
              >Cart<span class="badge text-bg-success" id="cartCount"
                ><%= cartCount %></span
              ></a
            >
            <%} else{%>
            <a
              class="nav-link"
              href="/login"
              style="display: flex; gap: 5px; align-items: center"
              >Cart <i class="fa-solid fa-cart-shopping text-primary"></i
            ></a>
            <%}%>
          </li>
          <li class="nav-item">
            <% if(userData){%>
            <a
              class="nav-link"
              href="/wishlist?userId=<%=userData._id %>"
              title="Wishlist"
              >Wishlist <i class="fa-solid fa-heart text-primary"></i
            ></a>
            <%} else{%>
            <a class="nav-link" href="/login" title="Wishlist"
              >Wishlist <i class="fa-solid fa-heart text-primary"></i
            ></a>
            <%}%>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product/categories/all" title="Wishlist"
              >Shop</a
            >
          </li>
          <div class="mx-3 searchBox">
            <form class="d-flex text-danger" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="search"
              />
              <input
                class="btn btn-outline- text-secondary"
                type="submit"
                value="Search"
              />
            </form>
          </div>
        </ul>

        <div>
          <% if(userData){%>
          <a
            class="navbar-brand"
            title="Profile page"
            href="/profile?userId=<%=userData._id %>"
            ><%=userData.fName %></a
          >
          <a href="/logout" title="Log-out"
            ><i class="fa-solid fa-right-from-bracket text-primary"></i
          ></a>

          <%}else{%>
          <a href="/login"
            ><i class="fa-solid fa-right-to-bracket text-primary"></i> LogIn</a
          >
          <%}%>
        </div>
      </div>
    </div>
  </nav>
</div>
