<style>
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler:hover {
    background-color: rgb(28, 7, 7);
  }
  .navbar-brand {
    font-size: 1.5rem !important;
  }
</style>

<div
  style="
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
  "
>
  <nav class="navbar navbar-expand-lg px-4" style="width: 100vw; height: auto">
    <div
      class="container-fluid my-2"
      style="display: flex; align-items: center"
    >
      <div style="display: flex; align-items: center; gap: 10px">
        <img
          style="height: 2.5rem"
          src="/public/admin/icon/logo white.png"
          alt=""
        />
        <a
          class="navbar-brand"
          href="/"
          style="font-size: 1 rem !important; color: aliceblue"
          >Furniture Kart</a
        >
      </div>
      <button
        class="navbar-toggler"
        style="outline: 2px solid #b3b3b3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span style="width: 1rem; height: 1rem; color: aliceblue">
          <i class="fa-solid fa-bars"></i
        ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <% if(userData){%>
            <a
              class="nav-link"
              href="/cart?userId=<%=userData._id %>"
              style="
                font-size: 1.5 rem;
                color: aliceblue;
                display: flex;
                gap: 5px;
                align-items: center;
              "
              >Cart<span class="badge text-bg-success" id="cartCount"
                ><%= cartCount %></span
              ></a
            >
            <%} else{%>
            <a
              class="nav-link"
              href="/login"
              style="
                font-size: 1.5 rem;
                color: aliceblue;
                display: flex;
                gap: 5px;
                align-items: center;
              "
              >Carts<i class="fa-solid fa-cart-shopping text-primary"></i
            ></a>
            <%}%>
          </li>

          <li class="nav-item">
            <% if(userData){%>
            <a
              class="nav-link"
              href="/wishlist?userId=<%=userData._id %>"
              title="Wishlist"
              style="font-size: 1.5 rem; color: aliceblue"
              >Wishlist <i class="fa-solid fa-heart text-primary"></i
            ></a>
            <%} else{%>
            <a
              class="nav-link"
              href="/login"
              title="Wishlist"
              style="font-size: 1.5 rem; color: aliceblue"
              >Wishlist <i class="fa-solid fa-heart text-primary"></i
            ></a>
            <%}%>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/product/categories/all"
              title="Wishlist"
              style="font-size: 1.5 rem; color: aliceblue"
              >Shop</a
            >
          </li>
        </ul>

        <div>
          <% if(userData){%>
          <a
            class="navbar-brand"
            title="Profile page"
            href="/profile?userId=<%=userData._id %>"
            style="font-size: 1.5 rem; color: aliceblue"
            ><%=userData.fName %></a
          >
          <a href="/logout" title="Log-out"
            ><i class="fa-solid fa-right-from-bracket text-primary"></i
          ></a>

          <%}else{%>
          <a href="/login" style="font-size: 1.5 rem; color: aliceblue"
            ><i class="fa-solid fa-right-to-bracket text-primary"></i> LogIn</a
          >
          <%}%>
        </div>
      </div>
    </div>
  </nav>
</div>
