<style>
      .navbar-toggler:focus{
      box-shadow: none;
    }
    .navbar-toggler:hover{
      background-color: rgb(220, 220, 220);
    }
</style>
<div style="width:100vw;position:fixed;top:2vw; z-index: 2;display: flex;justify-content: center">
    <nav class="navbar navbar-expand-lg" style="width:80vw;height:auto;background-color:white;opacity: 0.9;;border-radius: 2em;border:1px solid rgb(220, 220, 220)">
      <div class="container-fluid " style="display:flex;align-items:center">
        <div >
          <a class="navbar-brand " href="/">Furniture Kart</a>
        </div>
        <button
          class="navbar-toggler bg-color-danger"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span style="width:1rem;height:1rem" class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <% if(userData){%>
                <a class="nav-link" href="/user/cart?userId=<%=userData._id %>">Cart<span class="badge text-bg-success"><%= cartCount %></span><i class="fa-solid fa-cart-shopping text-primary"></i></a>
              <%}
              else{%>
                <a class="nav-link" href="/user/login">Cart <i class="fa-solid fa-cart-shopping text-primary"></i></a>
              <%}%>
            </li>
            
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-muted"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Categories
              </a>
              <ul class="dropdown-menu">
                <%catData.forEach((item)=>{%>

                  <li></li><a href="/user/categories/<%= item.catName %>/1" style="margin-left:1rem"><%= item.catName %></a></li>
            
                <%})%>
              </ul>
            </li>
            <li class="nav-item">
              <% if(userData){%>
                <a class="nav-link" href="/user/wishlist?userId=<%=userData._id %>" title="Wishlist">Wishlist <i class="fa-solid fa-heart text-primary"></i></a>
              <%}
              else{%>
                <a class="nav-link" href="/user/login" title="Wishlist">Wishlist <i class="fa-solid fa-heart text-primary"></i></a>
              <%}%>
            </li>
          </ul>
          <div>
            <% if(userData){%>
              <a class="navbar-brand " title="Profile page"  href="/user/profile"><%=userData.fName %></a>
              <a href="/user/logout"  title="Log-out" ><i class="fa-solid fa-right-from-bracket"></i></a>
              
              <%}else{%>
                <a href="/user/login"><i class="fa-solid fa-right-to-bracket text-primary"></i> LogIn</a>
                <%}%>
          </div>
          
        </div>
      </div>
    </nav>
  </div>