<head>

  <style>
    .flex-container{
      display:flex;
      justify-content:center;
      flex-wrap: wrap;
    }
    .tiles{
        justify-content: center;
        height:19rem;
        width:13rem;
      }
  
      .tile-outer:hover{
        transform:scale(1.1);
      }
  
  </style>
</head>
<body>
  
  <%- include('./partials/navBarLeft')%>
  <div style="height:5vw" class="my-3"></div>
  
    <div class="container-fluid px-0 bg-light " >
      <div class="flex-container" >
       
          <% for(let i=0;i<productData.length;i++){%>
  
  
              <div class="tile-outer spt-5 pb-3 pt-3 card mx-4 my-4">
  
                  <div style="float:right">
                    <button onclick="addToWishlist('<%= productData[i]._id %>')" style="font-size:larger;float:right;border:none;background-color:white;"><i class=" fa-regular fa-heart mx-4" ></i></button>
                  </div>
  
                <div class="tiles mx-4 mb-2">
                  <div class="innerClass shadow" style="border-radius:0.5rem">  
                    <img src="/products/images/<%=productData[i].productImage %>" alt="" class="img-fluid" style="border-radius:0.4rem">
                  </div>
                  
                  <h4 class="text-center"><%=productData[i].productName%></h4>
                  <h5 class="text-center">&#8377 <%=productData[i].rate %></h5>
                   
                </div>
                
                <div class="card-body d-flex justify-content-center">
                  <a href="/productpage/<%= productData[i]._id %>" class="btn btn-dark" style="font-size: small;">View Product</a>
                </div>
                
              </div>
  
          <%}%>
      </div>
    
    
      <div style="display:flex; justify-content: center;">
    
        <div style="display:flex; border: 1px solid rgb(13,110,253);border-radius: .5rem; margin: 3rem;">
    
          <% if(currentPage>1){%>
            <a href="/user/categories/<%= catName %>/<%= currentPage-1 %>">Previous page</a>
          <%}%>
    
          <% for(let j=0;j<totalPages;j++){%>
            <% if(currentPage==j+1){%>
              <div style="display:flex; justify-content: center;align-items: center; height: 1.5rem; width: 1.5rem; background-color:rgb(13,110,253) ">
                <a style="color: aliceblue;" href="/user/categories/<%= catName %>/<%= j+1 %>"><%= j+1 %></a>
              </div>
              <%}
              else{%>
                <div style="display:flex; justify-content: center;align-items: center; height: 2 rem; width: 1.5rem;">
                  <a href="/user/categories/<%= catName %>/<%=j+1 %>"><%= j+1 %></a>
                </div>
              <%}%>
          <%}%>
          
          <%if(currentPage<totalPages){%>
            <a href="/user/categories/<%= catName %>/<%= currentPage+1 %>">Next Page</a>
          <%}%>
    
        </div>
    
      </div>
      
    </div>
  <%- include('./partials/footer')%>
</body>