<head>

  <style>
    .flex-container{
      display:flex;
      justify-content:center;
      flex-wrap: wrap;
    }
  
      .tile-outer:hover{
        transform:scale(1.1);
      }
      .tiles:hover{
      box-shadow: 0px 0px 15px rgb(177, 177, 177);
      
    }

  </style>
</head>
<body>
  
  <%- include('./partials/navBarLeft')%>
    <div style="height:4vw" class="my-5"></div>
  
    <div class="container-fluid px-0 " >

      <div class="mx-5 px-5 d-flex justify-content-between">
      
       <div class="filter d-inline-block">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            FILTER
          </button>
          <ul class="dropdown-menu">

            <%for(let i=0;i<catData.length;i++){%>
              <li>
                <a href="/product/categories/<%= catData[i]?.catName %>">
                  <button class="text-dark bg-white border-0 text-center ">
                    <%= catData[i]?.catName%>
                  </button>
                </a>

              </li>
              <%}%>
          </ul>
          <%=catName%>

        </div>

        <div class="filter d-inline-block">
          <a href="/product/categories/all %>">
            <button class="btn btn-dark px-4" type="button"  aria-expanded="false">
              All
            </button>
          </a>
        </div>

        <div class="sort  d-inline-block ">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            SORT
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/product/categories/<%= catName %>?search=<%= search %>&sort=1">
                <button class="text-dark bg-white border-0 text-center ">Price - Low to High </button>
              </a>
            </li>
            <li>
              <a href="/product/categories/<%= catName %>?search=<%= search %>&sort=-1">
                <button class="text-dark bg-white border-0 text-center " >Price - High to Low</button>
              </a>
  
            </li>
          </ul>
       </div>

      </div>


      <div class="row pt-4 px-5 mx-0 mx-lg-5">
        <% for(let i=0;i<productData.length;i++){%>
          
          <div class="tiles col-lg-3 col-md-6 col-12 mb-4">
            
            <div class=" innerClass p-3 w-80">
              <div style="float:right">
                <button onclick="addToWishlist('<%= productData[i]._id %>')" style="font-size:larger;float:right;border:none;background-color:white;"><i class=" fa-regular fa-heart mx-4" ></i></button>
              </div>
              <a href="/product/productpage/<%= productData[i]._id %>">
              <img src="<%=productData[i]?.productImage[0]?.cloudunaryUrl %>" alt="" class="img-fluid" style="border-radius:0.4rem">
              <h5 ><%=productData[i].productName%></h5>
              <p >&#8377 <%=productData[i].rate %>/-</p5>
              </a>
            </div>
          </div>
        <%}%>
      </div>

      <div class="pagnition mb-5">
        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
          <ul class="pagination">
            <% for(let j=0;j<totalPages;j++){%>
              <li class="page-item">
                <% if(currentPage==j+1){%>
                  <a href="/product/categories/<%= catName %>?search=<%= search %>&sort=<%=sort%>&page=<%= j+1 %>">
                    <button class="page-link text-white bg-primary border-1 text-center"><%= j+1 %></button>
                  </a>
                  <%}
                  else{%>
                    <a href="/product/categories/<%= catName %>?search=<%= search %>&sort=<%=sort%>&page=<%= j+1 %>">
                      <button class="page-link text-dark bg-white border-1 text-center"><%= j+1 %></button>
                    </a>
                  <%}%>
                
              </li>
  
              <% } %>
          </ul>
          <% if(totalPages<1){%>
            <p>No results to show</p>
            <%}%>
        </nav>
      </div>
      
    </div>
  <%- include('./partials/footer')%>
</body>