<head>
  <style>
    
    body{
      background-color: rgb(255, 255, 255);
    }

    .separator{
      width: 100%;

    }

    .separator-2{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .catlist{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .tiles-1{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height:18rem;
      width:18rem;
      margin:18px
    }

    .tiles-1:hover{
      transform:scale(1.1)
    }

    .tiles{
      justify-content: center;
      height:19rem;
      width:13rem;
    }

    .tiles:hover{
      transform:scale(1.1)
    }

    .innerClass{
      width:100%
    }

    .carousel-inner .carousel-item {
      transition: -webkit-transform 2s ease;
      transition: transform 2s ease;
      transition: transform 2s ease, -webkit-transform 2s ease;
    }

  </style>
</head>
<body>
  <div class="container-fluid px-0">
    <%- include('./partials/navBarFinal')%>

    <div id="carouselExampleControls" class="carousel slide mb-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/banners/<%= bannerData[0].bannerImage %>" class="d-block w-100" alt="...">
        </div>
        <%for(let i=1;i<bannerData.length;i++){%>
          <div class="carousel-item">
            <img src="/banners/<%= bannerData[i].bannerImage %>" class="d-block w-100" alt="...">
          </div>
        <%}%>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  <div class="separator-2 bg-light py-4">
    <h2 style="text-align: center;font-style: normal">Categories</h2>
  </div>
  
  <div class="catlist px-md-5 bg-light" >
    <%catData.forEach((item)=>{%>

      <a href="/user/categories/<%= item.catName %>/1">
        <div class="tiles-1 shadow p-3 mb-5 bg-white rounded mx-4" style="background-image:url(/categories/images/<%= item.catImage %>);background-size: 100%;background-repeat: no-repeat">
          <h3 class="text-center"><%= item.catName %></h3>
        </div>
      </a>

    <%})%>

  </div>
  
  <div class="catlist my-5">
    <img src="/home displaym Images/furnitures home page panorama views.jpg" alt="" class="img-fluid">

  </div>

  
<div class="mb-5 bg-light pt-5">
  <div>
    <h2 style="text-align: center;font-style: normal">Trending Products</h2>
  </div>

  <div class="catlist px-5">
    <%for(let i=0; i < 4 ; i++){%>
      <a href="/productpage/<%= recProducts[i]._id %>">
        <div class="tiles my-5 mx-4 ">
          <div class="innerClass shadow" style="border-radius:0.5rem">  
            <img src="/products/images/<%= recProducts[i].productImage %>" alt="" class="img-fluid" style="border-radius:0.4rem">
          </div>
          <h3 class="text-center"><%= recProducts[i].productName %></h3>
          <h5 class="text-center">&#8377 <%= recProducts[i].rate %></h5>
        </div>
      </a>
    <%}%>

    
  </div>
</div>

<%- include('./partials/footer')%>
  
</body>