<head>
	<link rel="stylesheet" href="/admin/css/tableStyles.css">
	<style>
		td:nth-of-type(1):before { content: "Sl no"; }
		td:nth-of-type(2):before { content: "Coupon Code";}
		td:nth-of-type(3):before { content: "Discount (%)"; }
        td:nth-of-type(4):before { content: "No of coupons/user"; }
        td:nth-of-type(4):before { content: "Status"; }
		td:nth-of-type(5):before { content: "Action"; }
	</style>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script><script>//datatable ajax file
        $(document).ready(function () {

            $("#example").DataTable();

        });
    </script>
</head>
<body>
    <%- include('./partials/adminLayoutHeader')%>
    <section class="is-title-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <ul>
                <li>Admin</li>
                <li id="page">Coupons</li>
            </ul>
        </div>
    </section>
    
    <section class="is-hero-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <h1 class="title" >
                Coupons
            </h1>
           
        </div>
    </section>
    <section class="mt-2 ">
        <table id="example" class="table mt-5 table-hover table-light " style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Sl no</th>
                    <th>Coupon Code</th>
                    <th>Discount (%)</th>
                    <th>No of coupons/user</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% couponData.forEach((item,i)=>{ %>
                    <tr>
                        <td class="mx-2 text-center"><%= i+1 %></td>
                        <td class="mx-2"><%= item.couponCode %></td>
                        <td class="mx-2"><%= item.discount %> %</td>
                        <td class="mx-2"><%= item.count %> nos</td>
                        <% if(item.status){
                            %><td class="mx-2">Valid</td><%
                        }else{
                            %><td class="mx-2">Expired</td><%
                        }%>
    
                    <% if(item.status){
                        %><td class="mx-2"><a href="/admin/coupon/couponmangement/actions?unList_CouponId=<%=item._id%>" role="button" class="btn btn-danger" style="width: 91px; height:40px">Un-list</a></td><%
                    }else{
                        %><td class="mx-2"><a href="/admin/coupon/couponmangement/actions?list_CouponId=<%=item._id%>" role="button" class="btn btn-success" style="width: 91px; height:40px">List</a></td><%
                    }%>
                    </tr><%
                }) 
                %>
               
            </tbody>
        </table>
    </section>

    <div class="container col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row g-0 align-items-center justify-content-center">
            <div class="col-lg-6 mb-lg-0 py-5">
                <div class="card cascading-right"
                    style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                    <div class="card-body shadow-5 text-center">
                        <h2 class="fw-bold">Add Coupon</h2>
                        <form action="/admin/coupon/add" method="post">

                            <div class="form-outline mt-3">
                                <label class="form-label" for="form3Example1">Coupon Name</label><br>
                                <input type="text" id="form3Example1" name="couponName" class="form-control" />

                            </div>
                            <div class="form-outline mt-3">
                                <label class="form-label" for="form3Example1">Coupon Code</label><br>
                                <input type="text" id="form3Example1" name="couponCode" class="form-control" />

                            </div>
                            <div class="form-outline mt-3">
                                <label class="form-label" for="form3Example1">Discount in %</label><br>
                                <input type="text" id="form3Example1" name="discount" class="form-control" />

                            </div>
                            <div class="form-outline mt-3">
                                <label class="form-label" for="form3Example1">Count per user</label><br>
                                <input type="text" id="form3Example1" name="countPerUser" class="form-control" />

                            </div>
                            <div class="form-outline mt-3">
                                <input type="submit" value="Submit" class="btn btn-primary btn-block mb-4">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/adminLayoutFooter')%>
</body>

